LANGUAGE_MODEL = '/path/to/model.gguf'
IMAGE_MODEL = '/path/to/model.safetensors'
TTS_MODEL = 'prince-canuma/Kokoro-82M'
WHISPER_MODEL = 'medium.en'  # use small.en or tiny.en on macbook
WHISPER_SERVER_IP = 'localhost'
WHISPER_SERVER_PORT = 9090

STORY_MODEL_1_FORMAT = 'gemma'  # gemma, chatml, etc.
STORY_MODEL_2_FORMAT = 'gemma'
STORY_MODEL_1 = './gemma3-4b-it.Q4_K_M.gguf'
STORY_MODEL_2 = './gemma-3n-e4b-it-q8_0.gguf'
